Repository software4health/PCMT: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pim docker build (on git push), pim_erd, ansible docker build, terraform docker build, cron docker build, mysql-backup docker build, asset-backup docker build, s3 docker build, ftp-get docker build, ftp-put docker build, scalyr docker build, scp-put docker build, env-test, env-test (manual), env-test-destroy

pim docker build (on git push):
  stage: build
  script:
  - bin/ci-build.sh
  - bin/ci-parse-coverage.sh $CODE_COVERAGE_THRESHOLD
  - bin/ci-push.sh
  artifacts:
    reports:
      junit: build/unit-results.xml

pim_erd:
  stage: deploy
  allow_failure: true
  script:
  - bin/ci-erd.sh "http://docker"
  artifacts:
    paths:
    - build/erd/
    expire_in: 7 days

ansible docker build:
  stage: build
  script:
  - make ansible
  - docker push pcmt/ansible:latest

terraform docker build:
  stage: build
  script:
  - make terraform
  - docker push pcmt/terraform:latest

cron docker build:
  stage: build
  script:
  - make cron
  - docker push pcmt/cron:latest

mysql-backup docker build:
  stage: build
  script:
  - make mysql-backup
  - docker push pcmt/cron:latest
  - docker push pcmt/mysql-backup:latest

asset-backup docker build:
  stage: build
  script:
  - make asset-backup
  - docker push pcmt/cron:latest
  - docker push pcmt/asset-backup:latest

s3 docker build:
  stage: build
  script:
  - make s3
  - docker push pcmt/cron:latest
  - docker push pcmt/s3:latest

ftp-get docker build:
  stage: build
  script:
  - make ftp-get
  - docker push pcmt/cron:latest
  - docker push pcmt/ftp-get:latest

ftp-put docker build:
  stage: build
  script:
  - make ftp-put
  - docker push pcmt/cron:latest
  - docker push pcmt/ftp-put:latest

scalyr docker build:
  stage: build
  script:
  - make scalyr
  - docker push pcmt/scalyr:latest

scp-put docker build:
  stage: build
  script:
  - make scp-put
  - docker push pcmt/scp-put:latest

env-test:
  stage: deploy
  variables:
    PCMT_PROFILE: dev
  environment:
    name: test
    url: http://test.pcmt.villagereach.org
    on_stop: env-test-destroy
  script:
  - ./bin/ci-deploy.sh test

env-test (manual):
  stage: deploy
  variables:
    PCMT_PROFILE: dev
  environment:
    name: test
    url: http://test.pcmt.villagereach.org
    on_stop: env-test-destroy
  script:
  - ./bin/ci-deploy.sh test
  when: manual

env-test-destroy:
  stage: deploy
  variables:
    PCMT_PROFILE: dev
  environment:
    name: test
    url: http://test.pcmt.villagereach.org
    on_stop: env-test-destroy
    action: stop
  script:
  - ./deploy/terraform/run-docker.sh test destroy -auto-approve
  when: manual

add cron as dependancy to asset-backup
  Makefile
Due: none

#1257 Added mappingType parameter to add search for attributes of that mapping that are not blank
  pim/composer.lock
  pim/src/FhirBundle/Controller/ExternalApi/FhirProductController.php
Due: pim docker build (on git push), pim_erd, env-test, env-test (manual), env-test-destroy

add example relations for OCL interop
  doc/with-ocl-concept.md
Due: none

fix syntax
  doc/with-ocl-concept.md
Due: none

fix line lengths to show text
  doc/with-ocl-concept.md
Due: none

add a test instance for akeneo v6 development
  .gitlab-ci.yml
  deploy/terraform/test-pc-io/main.tf
  deploy/terraform/test-pc-io/terraform.tfvars
  deploy/terraform/test-pc-io/variables.tf
Due: pim docker build (on git push), pim_erd, terraform docker build, env-test, env-test (manual), env-test-destroy

deploy a version to new test instance
  .gitlab-ci.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test (manual), env-test-destroy

allow job to run manually anytime
  .gitlab-ci.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test (manual), env-test-destroy

allow job to run at pipeline creation
  .gitlab-ci.yml
Due: pim docker build (on git push), pim_erd, env-test, env-test (manual), env-test-destroy

fix new instance from clobering demo instance
  deploy/terraform/test-pc-io/main.tf
Due: terraform docker build

upgrade base ami to ubuntu 22 lts
  deploy/terraform/modules/pcmt/compute.tf
Due: terraform docker build

bump test-pc-io to medium instance
  deploy/terraform/test-pc-io/terraform.tfvars
Due: terraform docker build

first commit
  README.md
Due: none

Path conditions:
  pim docker build (on git push): any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  pim_erd: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  ansible docker build: any of: deploy/ansible/**/*
  terraform docker build: any of: deploy/terraform/**/*
  cron docker build: (any of: deploy/cron/**/*) and (not (any of: deploy/mysql-backup/**/*))
  mysql-backup docker build: any of: deploy/mysql-backup/**/*, deploy/cron/**/*
  asset-backup docker build: any of: deploy/asset-backup/**/*, deploy/cron/**/*
  s3 docker build: any of: deploy/s3/**/*, deploy/cron/**/*
  ftp-get docker build: any of: deploy/ftp-get/**/*, deploy/cron/**/*
  ftp-put docker build: any of: deploy/ftp-put/**/*, deploy/cron/**/*
  scalyr docker build: any of: deploy/scalyr/**/*
  scp-put docker build: any of: deploy/scp-put/**/*
  env-test: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  env-test (manual): any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
  env-test-destroy: any of: .gitlab-ci.yml, pim/**/*, .env, conf/**/*, docker-compose.yml, docker-compose.tls.yml, docker-compose.prod.yml
